<% provide :title, t("admins.rooms.edit_title")%>
<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-12">
          <h1 class="m-0"><%= t "admins.rooms.edit_title" %></h1>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
    <div class="container-fluid">
      <%= render "form" %>
    </div>
  </section>
</div>
