@import "color.scss";
@import "bundle.min.css";
@import "all-ie-only.scss";
@import "animate.min.scss";
@import "combobox.scss";
@import "custom.scss";
@import "font-awesome.min.scss";
@import "imagelightbox.min.scss";
@import "jquery-ui.min.scss";
@import "owl.carousel.scss";
@import "responsive.scss";
@import "style.scss";
@import "style1.scss";

.form-search-admin {
  display: flex;
}

.box-input-search {
  width: 90%;
  margin: auto;
  display: flex;

  .input-search {
    width: 25%;
    margin-right: 10px;;
  }
}

.box-submit {
  margin-top: -10px;
}

.pagination li {
  a {
    position: relative;
    float: left;
    padding: 2px 10px;
    line-height: 1.42857;
    text-decoration: none;
    color: $black;
    background-color: $white;
    border: 1px solid $black;
    margin: 5px;
    margin-left: -1px;
  }
}

.disabled a {
  color: $white !important;
}

.total-record {
  color: $red;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 30px 0;
}

.img-room {
  img {
    width: 770px;
    height: 425px;
  }
}
