.form-login{
  width: 60%;
  margin: auto;
  padding: 100px 0;
}

.btn-login{
  margin-top: 40px;
}

.input-search{
  margin-top: 30px;
}

.nasir-room-grid{
  padding-top: 0 !important;
}

.final-breadcrumb{
  padding: 0 !important;
}

.book-r-form .book-form b{
  margin: 20px 0 !important;
}

.description{
  padding-top: 30px !important;
}

.img-relate{
  width: 120px;
  height: 92px;
}
